:root {
  --bg-image-paws: url("https://c4.wallpaperflare.com/wallpaper/686/355/705/paw-print-background-surface-wallpaper-preview.jpg");
  --white50: rgb(255, 255, 255, .5);
}

body {
  min-height: 100vh;
  min-width: 350px;
  background-image: var(--bg-image-paws);
  background-color: rgba(244, 247, 255, 0.85);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}

main, footer {
  padding: 1rem 0;
}

main, 
footer,
.nav-container,
.jumbo {
  min-width: 350px;
  max-width: 900px;
  margin: 0 auto;
}

.jumbotron {
  background-color: transparent;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
}

/* register */

.register-form {
  max-width: 460px;
}

.form-group {
  background-color: transparent;
  margin-bottom: 1rem;
}

#petDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.card {
  margin: 1rem 0;
}



